
@font-face {
	font-family: "titles";
	src: url("../fonts/title.ttf");
}
@font-face {
    font-family: "text";
    src: url("../fonts/text.ttf");
}

:root{
	--ncolumnas: 8;
	--nfilas: 8;
	--size: 32px;
	/* --size: 2vw; */
}

/*BODY
---------------------------------------------------------------------------*/

.title{
	font-family: "titles", 'Courier New', cursive;
	color: rgb(218, 214, 214);
}

.text{
    font-family: "text", 'Courier New', serif;
    color: black;
}

.boton{
	font-family: "text", 'Courier New', serif;
    color: white;
	border-color: black;
	background-color: rgb(255, 79, 79);
}

body{
	background-image: url(../img/logo.jpeg);
}

#encabezado{
	display:flex;
	margin-bottom: 40px;
	text-align: center;
	flex-flow: column;
	justify-content: space-evenly;
}
#contModalidad{
    display:flex;
	justify-content: space-evenly;
}
.boton:hover{
	background-color:rgb(175, 175, 175);
	border-radius: 10%;
	border-color:rgb(163, 73, 73) ;
}

/*Juego buscaminas
------------------------------------------------------------------------------------------*/
#juego{
	display: flex;
	justify-content: center;
}
#tablero{
	padding: 10px;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(var(--ncolumnas), var(--size));
	grid-template-rows: repeat(var(--nfilas), var(--size));
	width: calc(var(--ncolumnas)*var(--size));
	text-align: center;
}
#tablero>div{
	background-color: #e88a8a;
	border-left: 2px solid #ffffea;
	border-top: 2px solid #ffffea;
	border-right: 2px solid #cf0a0a;
	border-bottom: 2px solid #cf0a0a;
	line-height: var(--size);
}
#tablero>div:hover{
	background-color: #9b984c;
}
#tablero>div.abierta{
	font-family: "Lucida Console", monospace;
	font-weight: bold;
	border-left: 1px solid #e0df75;
	border-top: 1px solid #e0df75;
	border-right: 1px solid #ffffea;
	border-bottom: 1px solid #ffffea;
	text-shadow: 1px 1px 2px #e0df75;
}
#tablero>div.sinmarcar{
	background-color: red;
}
#tablero>div.NOflag{
	background-color: #ec9a87;
	border: 1px solid rgb(0, 0, 0);
}
/* Contador minas restantes */
#contEstado{
	display: flex;
	justify-content: center;
}
#estado{
	display: none;
	background-color: rgba(69, 143, 239, 0.904);
	width: calc(var(--ncolumnas)*var(--size));
	border-radius: 100px;
	padding: 0.5em;
	font-family: sans-serif;
	font-size: 14px;
	text-align: center;
}
/*Color del número de minas que una casilla tiene alrededor-------------------------------*/
#tablero>div.c0{ 
	color: grey;
}
#tablero>div.c1{ 
	color: cyan;
}
#tablero>div.c2{ 
	color: royalblue;
}
#tablero>div.c3{ 
	color: blue;
}
#tablero>div.c4{ 
	color: greenyellow;
}
#tablero>div.c5{ 
	color: green;
}
#tablero>div.c6{ 
	color: orange;
}
#tablero>div.c7{ 
	color: orangered;
}
#tablero>div.c8{ 
	color: brown;
}
/*ICONOS----------------------------------------------------------------------------------*/
.flag:before{ 
	content: '🚩'; 
}
.mina:before{ 
	content: '💣'; 
}

/*Subir puntaje
------------------------------------------------------------------------------------------*/
#subirP{
	display: none;
	border: 2px solid black;
	padding: 1em;
}

#btn-guardar{
	display: none;
}
#btn-guardarBD{
	display: none;
}
#btn-intentar{
	display: none;
}
#btn-returnInicio{
	display: none;
}