:root{
	--num-columnas: 10;
	--num-filas: 10;
	--size: 32px;
}
#tablero{
  display:grid;
  grid-template-columns: repeat(var(--nfilas), 32px);
  grid-template-rows: repeat(var(--ncolumnas), 32px);
}
#tablero div{
  background-color: #BBBBBB;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #A9A9A9;
  border-bottom: 2px solid #A9A9A9;
  text-align: center;
  line-height: 32px;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 2px 2px 2px #999999;
 
}