<!--Por el momento en desuso-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nivel Fácil</title>
        <link rel="stylesheet" href="../statics/styles/styles.css">
    </head>
    <body>
        <h1>Buscaminas</h1>

        <form action="../dynamics/puntajes.php" method='post' target='_self'>
            <button>Ver<br>Puntajes</button>
        </form>
        <br><br>

        <!-- Tablero Buscaminas-->
        <div id="tablero">
        </div>
        <div id="estado">
            <div>
                N° de minas restantes: <span id="mRestantes"></span>
            </div>
        </div>

        <br><br>
        <form action="../index.html" method='post' target='_self'>
            <button>Regresar al menú</button>
        </form>

        <script src="../dynamics/JS/index.js"></script>
    </body>
</html>